<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon slot="icon-only" name="chevron-back"></ion-icon>
        Back
      </ion-button>
      <!-- <ion-back-button defaultHref="/cart"></ion-back-button> -->
    </ion-buttons>
    <ion-title>address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="ion-no-margin ion-margin-horizontal">
    <ion-card-header class="ion-no-padding ion-padding-bottom">
      <ion-list-header class="ion-no-padding">
        <ion-label><h2>Select an Address</h2></ion-label>
        <ion-button (click)="addNew()">Add New</ion-button>
      </ion-list-header>
    </ion-card-header>
    <ion-list class="ion-no-margin">
      <!-- <ion-radio-group mode="md" (ionChange)="onChangeAddress($event)"> -->
       

        <ion-item *ngFor="let item of [1,2,3,4]; let i=index" (click)="onChangeAddress(i)" lines="none" >
          <ion-icon slot="start" color="primary" name="checkmark-circle-outline"></ion-icon>
          <ion-label>
            <ion-text color="primary">
              <h3>John Doe</h3>
            </ion-text>
            <p>3 Newyork Bridge, Chicago, Spain</p>
          </ion-label>
          <ion-radio slot="start" value="{{item}}"></ion-radio>
        </ion-item>
      <!-- </ion-radio-group> -->
      <!-- <ion-radio-group
        [(ngModel)]="selectedAddress"

        mode="md"
        (ionFocus)="onChangeAddress($event)"
      >
        <ion-item *ngFor="let item of [1,2,3,4]; let i=index">
       
            <ion-label>
              <ion-text color="primary">
                <h3>John Doe</h3>
              </ion-text>
              <p>3 Newyork Bridge, Chicago, Spain</p>
            </ion-label>
          <ion-radio slot="start" value="{{item}}"></ion-radio>
        </ion-item>
      </ion-radio-group> -->
    </ion-list>
  </ion-card>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar
    color="dark"
    [ngStyle]="{'height': selectedAddress == null ?'-20px':''}"
  >
    <ion-button
      color="light"
      expand="block"
      fill="clear"
      shape="round"
    >
      Continue
    </ion-button>
  </ion-toolbar>
</ion-footer>
