<ion-header>
  <ion-toolbar>
    <ion-title>Header</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

 <ion-grid fixed>
   <div class="imagelist">
     <h2 class="title"><span>Top Categories</span></h2>
     <div class="navigation">
      <div class="next">&nbsp;</div>
      <div class="next">&nbsp;</div>
     </div>
     <ion-slides [options]="productSlides">
       <ion-slide *ngFor="let item of data?.offer_products">
         <!-- <div class="item"> -->
           <ion-card class="item">
            <img src="{{s3url+item.images[0]?.path}}" alt="" style="height: 127px;" />
          
        
              <p>{{item.name}}</p>
        
            
           </ion-card>
          
         <!-- </div> -->
       </ion-slide>
     </ion-slides>
    </div>
 </ion-grid>

   
   
 
</ion-content>
