.ikon{
    font-size: 1.5rem;
}

.imgWrapper{
    margin-top: auto;
    margin-bottom: auto;
}

.prod-slide{
    ion-slide {
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      height: 15rem;
    }
  }