.ikon{
    font-size: 1.5rem;
}

ion-content{
  --background:#f2f2f2;
}


.imagelist{
  
  position: relative;
  margin-top: 80px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 30px 30px 60px;
  background: #fff;
  
 
}

.title{
  padding-bottom: 20px;
  border-bottom: 1px solid #d9d9d9;
 
}

.title:after {
  content: "";
  display: block;
  text-align: left;
  width: 70px;
  position: absolute;
  top: 95px;
  border-bottom: 3px solid #ffd21d;
  transition: all 0.5s ease 0s;
}

.navigation{
  font-size: 0;
  position: absolute;
  right: 12px;
  top: 15px;
  display: flex;
  justify-content: space-between;
  width: 70px;

}

.next{
  padding: 0;
  color: #888888;
  width: 30px;
  height: 30px;
  border: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px;
  background-color: #222222;
}


ion-card{
  height: 213px;
  width: 254px;
  border: 0.1px solid #e4e1e1;
  border-radius: 0px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
