<ion-header>
  <ion-toolbar>
    <ion-title>CATEGORIES</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="" color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section id="banr" >
    <ion-slides class="banner" [options]="bannerSlideOpts">
      <!-- <ion-slide
        *ngFor="let item of banners; let i=index"
        [ngStyle]="{'background-image': 'url(' + item.imgUrl + ')'}"
      >
      </ion-slide> -->
    </ion-slides>
  </section>

  <ion-grid>
    <ion-row>
      
      <ion-col size="12" size-sm="12" size-md="12" size-xl="12" size-lg="12">
        <ion-grid fixed>
          <ion-row class="row">
            <ion-col
              size="6"
              size-sm="6"
              size-md="6"
              size-lg="3"
              size-xl="3"
              *ngFor="let item of data?.categories; let i=index"
              (click)="navigateToProducts(i)"
              
              class="prod"
            >
              <div class="ion-text-center" style=" position: relative; overflow: hidden">
                <img [src]="s3url+item?.path" alt="">
              </div>
              <ion-list>
                <ion-item class="text" lines="none" >
                    <h1 >{{item.category_name}}</h1>
                </ion-item>
              </ion-list>
            </ion-col>
            <ion-infinite-scroll (ionInfinite)="loadMoreContent($event)">
              <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
              </ion-infinite-scroll-content>
            </ion-infinite-scroll>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
 




</ion-content>
