
ion-title{
        h1{
          
            font-size: 22px;
            padding-bottom: 10px;
        }  
}


ion-content{
    --background:#fcfeff;
   
    }
img{
    padding-top: 20px;
    width: 44%;
    padding-bottom: 20px;
}

.icon{
    padding-right:10px;
}


.card{
    padding: 10px;
    min-height: 459px;
    border-radius: 25px;
    box-shadow: none;
   
    
    h2{
        font-weight: 700;
        font-size: 1.5rem;
        // padding: 20px;
    }
    .item{
        padding-bottom: 20px;

    }
}
.wrapper{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ripple-parent
 {
    position: relative;
    overflow: hidden;
    color: #DB7093;
}


@media only screen and (max-width: 320px){
    .wrapper{
        min-width: 334px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .imgWrapper{
            h2{
                padding: 0px;
            }
            img{
                width: 30%;
                margin-bottom: 15px;
            }
        }
    }

}
@media only screen and (min-width: 576px){
    img{
        padding-top: 20px;
        width: 45%; 
    }
.wrapper{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.wrapper{
    min-width: 334px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .imgWrapper{
        h2{
            padding: 0px;
        }
        img{
            width: 30%;
            margin-bottom: 15px;
        }
    }
}

}
@media only screen and (min-width: 724px){
    img{
        padding-top: 20px;
        width: 40%; 
    }
    .wrapper{
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }  
    .wrapper{
        min-width: 334px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .imgWrapper{
            h2{
                padding: 0px;
            }
            img{
                width: 30%;
                margin-bottom: 15px;
            }
        }
    }

}
@media only screen and (min-width: 992px){
    img{
        padding-top: 20px;
        width: 30%; 
    }
    .wrapper{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    } 
    .wrapper{
        min-width: 334px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .imgWrapper{
            h2{
                padding: 0px;
            }
            img{
                width: 30%;
                margin-bottom: 15px;
            }
        }
    }

}
@media only screen and (min-width: 1366px){
    img{
        padding-top: 20px;
        width: 20%; 
    }
    .wrapper{
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    } 

    .wrapper{
        min-width: 334px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .imgWrapper{
            h2{
                padding: 0px;
            }
            img{
                width: 30%;
                margin-bottom: 15px;
            }
        }
    }

}

