ion-badge {
  transition: all 2s;
}
ion-tab-button {
  --color-selected: var(--ion-color-primary) !important;
  --background: var(--ion-color-primary) !important;
  --background-focused: var(--ion-color-primary) !important;
  --background-focused-opacity: var(--ion-color-primary) !important;
  --color: var(--ion-color-primary) !important;
}
