<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <h1>About Us</h1>
    </ion-col>
    <ion-col size="12">
      <p>Deal On Store, the final solution to the never ending needs for vehicle spare parts in the UAE, 
        has come to your pocket. Deal On Store website and mobile apps host the widest range of spare parts 
        inventory in the UAE which is accessible at your fingertips. Deal On Store Web, Android & iOS Apps and their services are 
        available everywhere in the UAE. Find your necessary part using different search criteria such as part name, manufacturer, part number, 
        substitute part number and many others. DOS, UAE’s one-stop solution for all its vehicle related needs. </p>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
