<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" text="" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title>About Us</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid fixed>
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <h1>Who We Are.</h1>
    </ion-col>
    <ion-col size="11" class="content ion-text-justify">
      <p>Deal On store, the one stop solution for all your need of Vehicle parts has come to your pocket. Our website and mobile apps host the widest range of spare parts inventory which is accessible at your fingertips. Deal on Store Web, Android and iOS Apps and their services are available around the world. Find your necessary part quickly and easily by searching with any search options such as  part name, manufacturer, part number etc. DOS, your answer for all your vehicle related requirements.</p>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
