<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>PRODUCT</ion-title>
    <ion-buttons slot="end" class="ion-hide-md-up" id="cart-btn">
      <ion-icon
        name="cart-outline"
        class="ion-padding"
        (click)="router.navigate(['/cart'])"
      ></ion-icon>
      <ion-badge id="cart-badge" color="danger">{{data?.cart_count}}</ion-badge>
      <!-- <button id="cart-btn" ion-button icon-only (click)="router.navigate(['/cart'])" fill="clear">
        <ion-icon name="cart-outline" ></ion-icon>
        <ion-badge id="cart-badge">{{data?.cart_count}}</ion-badge>
      </button> -->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wrapper">
    <div class="main">
      <div class="productImageSec leftSec">
        <div class="card">
          <ion-slides [options]="slidesOptions" pager="true" #slides>
            <ion-slide *ngFor="let item of productDetails?.images">
              <!-- <img src="{{item.path}}" alt="" /> -->

              <lib-ngx-image-zoom
                thumbImage="{{item.path}}"
                [magnification]="2"
                class="imge"
              ></lib-ngx-image-zoom>
            </ion-slide>
          </ion-slides>
          <ion-slides [options]="slidesOptionsThumbnail"  class="thumbnail">
            <ion-slide (click)="slideTo(i)"  *ngFor="let item of productDetails?.images; let i=index">
              <div class="thumbnailWrapper">
                <ion-thumbnail>
                  <img src="{{item.path}}" />
                </ion-thumbnail>
              </div>
            </ion-slide>
          </ion-slides>
        </div>
      </div>

      <div class="rightSec">
        <div class="textblock">
          <h1>{{productDetails?.name}}</h1>
        </div>

        <section class="ion-padding-horizontal">
          <ion-row>
            <ion-col size="6" class="price">
              <ion-label style="background: #f2f2f2">
                <!-- <h1>{{ productDetails?.offer_price | currency:'AED' }}</h1> -->
                <h1>{{ productDetails?.offer_price | currency:'AED ' }}</h1>
                <h1 *ngIf="productDetails?.offer_price == null">
                  {{ productDetails?.price | currency:'AED ' }}
                </h1>
                <h6
                  *ngIf="productDetails?.offer_price != null"
                  color="danger"
                  class="offerPrice"
                >
                  {{ productDetails?.price | currency:'AED ' }}
                </h6>
              </ion-label>
            </ion-col>
          </ion-row>
        </section>

        <div>
          <ion-row>
            <ion-col size="5" class="ion-padding">
              <div class="addbutton">
                <ion-icon
                  name="remove-outline"
                  class="icon"
                  (click)="qtyDecrease()"
                ></ion-icon>
                {{qty}}
                <ion-icon
                  name="add-outline"
                  class="icon"
                  (click)="qtyIncrease()"
                ></ion-icon>
              </div>
            </ion-col>
            <ion-col size="6" class="addtocart">
              <ion-button (click)="addToCart()" color="dark" expand="full" [disabled]="data?.product.in_stock == 0">
                ADD TO CART
              </ion-button>
            </ion-col>
            <ion-col size="4"  class="ion-padding addtocart">
              <ion-button (click)="buyNow()" color="dark" expand="full" [disabled]="data?.product.in_stock == 0">
                BUY NOW
              </ion-button>
            </ion-col>
          </ion-row>
        </div>

        <div class="productDesc">
          <ion-row>
            <ion-col size="12" class="ion-padding description">
              <ion-text color="dark">
                <ion-item
                  class="ion-no-padding"
                  lines="none"
                  *ngIf="data?.product.in_stock == 1"
                >
                  <h3 class="ion-margin-top">Availability :</h3>
                  &nbsp;
                  <h5 class="inStock">Instock</h5>
                </ion-item>
              </ion-text>

              <ion-text color="dark">
                <ion-item
                  class="ion-no-padding"
                  lines="none"
                  *ngIf="data?.product.in_stock == 0"
                >
                  <h3 class="ion-margin-top"> Availability :</h3>
                  &nbsp;
                  <h5 class="outofStock">Out Of Stock</h5>
                </ion-item>
              </ion-text>

              <ion-text color="dark">
                <ion-item
                  class="ion-no-padding"
                  lines="none"
                  *ngIf="productDetails?.part_number"
                >
                  <h3 class="ion-margin-top">Part Number :</h3>
                  &nbsp;
                  <h5>{{productDetails?.part_number}}</h5>
                </ion-item>
              </ion-text>

              <ion-text color="dark">
                <ion-item
                  class="ion-no-padding"
                  lines="none"
                  *ngIf="productDetails?.substitute_part_number"
                >
                  <h3 class="ion-margin-top">Substitute Part Number :</h3>
                  &nbsp;
                  <h5>{{productDetails?.substitute_part_number}}</h5>
                </ion-item>
              </ion-text>

              <ion-text color="dark">
                <ion-item class="ion-no-padding" lines="none">
                  <h3 class="ion-margin-top">Manufacturer :</h3>
                  &nbsp;
                  <h5>{{productDetails?.brand_name}}</h5>
                </ion-item>
              </ion-text>

              <ion-text color="dark">
                <ion-item
                  class="ion-no-padding"
                  lines="none"
                  *ngIf="productDetails?.weight"
                >
                  <h3 class="ion-margin-top">Weight :</h3>
                  &nbsp;
                  <h5>{{productDetails?.weight}} kg</h5>
                </ion-item>
              </ion-text>
            </ion-col>
          </ion-row>
        </div>

        <div class="sizeSection">
          <ion-row>
            <ion-col size="12" class="ion-padding contact">
              <div>
                <ion-text color="dark">
                  <p><b> Get more details. Contact us on</b></p>
                  <img
                    src="../../../assets/icon/whatsapp.svg"
                    alt=""
                    (click)="whatsapp()"
                    class="ikon"
                  />

                  or
                  <img
                    src="../../../assets/icon/gmail.svg"
                    alt=""
                    (click)="mail()"
                    class="ikon"
                  />
                </ion-text>
              </div>
            </ion-col>
          </ion-row>
        </div>
      </div>
    </div>

    <div class="ion-padding" *ngIf="productDetails?.description">

      <ion-item class="ion-no-padding details" lines="none">
        <h3 class="ion-margin-top">Product Details:</h3>
      </ion-item>
      <quill-view
      [content]="productDetails?.description"
      format="text"
      theme="snow"
      ></quill-view>
    </div>
    <!-- <div class="ion-padding-horizontal">
      <h6>Share Product :</h6>
      <ul>
      <li>
      <ion-button
      color="dark"
      href="https://www.facebook.com/sharer/sharer.php?u={{this.appUrl}}"
      target="_blank"
      fill="clear"
      size="small"
      >
      <ion-icon
      slot="icon-only"
      class="facebook"
      name="logo-facebook"
      ></ion-icon>
      Facebook
      </ion-button>
      </li>
      <li>
      <ion-button
      color="dark"
      href="http://twitter.com/share?url={{this.appUrl}}"
      target="_blank"
      fill="clear"
      size="small"
      >
      <ion-icon
      slot="icon-only"
      class="twitter"
      name="logo-twitter"
      ></ion-icon>
      Twitter
      </ion-button>
      </li>
      <li>
      <ion-button
      color="dark"
      href="https://plus.google.com/share?url={{this.appUrl}}"
      target="_blank"
      fill="clear"
      size="small"
      >
      <ion-icon
      slot="icon-only"
      class="google"
      name="logo-google"
      ></ion-icon>
      Google
      </ion-button>
      </li>
      <li>
      <ion-button
      color="dark"
      target="_blank"
      href="whatsapp://send?text=Hi%20please%20checkout%20this%20product,{{this.appUrl}}"
      fill="clear"
      size="small"
      >
      <ion-icon
      slot="icon-only"
      class="whatsapp"
      name="logo-whatsapp"
      ></ion-icon>
      Whatsapp
      </ion-button>
      </li>
      </ul>
      </div> -->

  </div>



  <hr class="ion-margin-horizontal" />

<ion-grid fixed>
  <ion-row>
    <ion-col size="12">
      <section id="recommended">
        <ion-item lines="none" class="ion-text-center">
          <ion-label class="title">Recommended for You</ion-label>
          <!-- <ion-button expand="block" fill="clear" shape="round" slot="end">
            View all
          </ion-button> -->
        </ion-item>
        <ion-slides [options]="recommendedSlides" class="recommended">
          <ion-slide *ngFor="let item of data?.category_products; let i=index"  (click)="navigateToProduct(i)">
            <ion-card>
              <img src="{{s3url+item.images[0]?.path}}" alt="" />
              <ion-card-content>
                <p>{{item.name}}</p>
              </ion-card-content>
            </ion-card>
          </ion-slide>
        </ion-slides>
      </section>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>
<!-- <ion-col size="12" class="btnWrapper">
    <ion-button
      class="btn"
      (click)="addToCart(productDetails?.id)"
      expand="full"
      fill="solid"
      shape="round"
      color="tertiary"
    >
      ADD TO CART
    </ion-button>
  </ion-col> -->
