:host ::ng-deep .ngxImageZoomContainer {
  width: 100% !important;
  height: 100% !important;
}

.thumbnailWrapper{
  // border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
}

ion-thumbnail{
  --size:79px;
  border: .5px solid #4343;
}

.textblock{

  margin-top: 42px;
  h1{
    font-size: 2rem;
    font-weight: 700;
  }
   margin-left: 3%;
   h5{
    line-height: 1.8;
   }
}

.contact{
  padding-top: 0px;
}

ion-slides{
  
  margin-bottom: 20px;
  .imge{
    height: 360px;
    
  }
}

.imgCard{
    border-radius: 0px;
}



 .sec_select{
     justify-content: space-around;
 }

 .card{
     border-radius: 0px;
 }

.description{
    
    h3{
        font-size:1rem;
        font-weight: 700;
    }
    P{
       font-size: .9rem;
    }
}

.price{
    // font-weight: 700;
    // font-size: 1.2rem;
    // color: #e43572;
    h1{
      font-size: 1.8rem;
      font-weight: 500;
    }
    h6{
      color: rgb(250, 72, 40);
      text-decoration: line-through;
    }
}

.addtocart{
  padding-top: 11px;
  ion-button{
    letter-spacing: 1.5px;

  }

}

.labeltxt{
    padding-right: 20px;
 
}

.chip{
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 25px;
}


.active{
    display: block;
    background: #f3f3f5;
}

.inactive{
    display: none;
}

.sizecard{
    padding: 10px;
    width: 100%;
    h3{
        font-size: 14px;
    }
}



.selected{
    
    color: #00d7fe;
}

.sizeSection,.colorSection{
    h3{
        font-size: 1rem;
        font-weight: 700;
    }
}

.round{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    
}
.colorSection{
    .tick{
        
        display: none;
    }
}
.colorActive{
    display: block;
    border: 3px solid white;
    .tick{
        display: block;
        
        color: #ffffff;
        font-size: 25px;
        margin: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        
    }
    .round{
        width: 35px;
        height: 35px;
        border-radius: 35px;

}

}
.inactive{
 display: none;
}
.active{
    display: block;
}
.btn {
    height: 56px;
    letter-spacing: 2px;
    margin-bottom: 5px;
    
  }

.btnFtr{
    height: 56px;
    letter-spacing: 2px;
    margin-bottom:10px;
    
}


.proPrice{
  font-size: 20px;
  .offerPrice{
   
    color: #1a1a1a;
    font-weight: 700;
  }
  .price{
    padding: 0;
    color: #ccc;
    font-weight: 400;
  }
}

.addbutton{
  border: 1px solid #1a1a1a;
  height:44.8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  color: #1a1a1a;
  .icon{
    font-size: 22px;
    font-weight: 700;
  }
}


.ikon{
  // font-size: 1.5rem;
   margin-bottom: -12px;
  width: 40px;
  height: 36px;
}

.ikon:hover{
  cursor: pointer;
}

.money
{
  font-size: 1.3rem;
}

.details{
  h3{
    font-weight: 700;
    font-size: 1.2rem;
  }
}

.title{
  
    font-weight: 700;
    font-size: 1.2rem;
  
}
.recommended {
  // .swiper-slide-prev {
  //   opacity: 0.5;
  // }
  // .swiper-slide-next {
  //   opacity: 0.5;
  // }
  // .swiper-slide-active {
  //   transform: scale(1.1);
  // }
  padding-bottom: 16px;
  padding-top: 16px;
  img{
    height: 127px;
  }
  ion-slide{
   
    height: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
   ion-card {
     margin: 16px 0px 16px 16px;
     width: 100%;
     
     border-radius: 15px;
     background-position: center;
     background-repeat: no-repeat;
     background-size: contain;
   }
 }

 .inStock{
   color: green;
 }
 .outofStock{
   color: red;
 }
@media only screen and (max-width: 320px){

}
@media (min-width:490px) and (max-width:1091px) {
   
}
@media only screen and (min-width: 490px){
    
}
@media only screen and (max-width: 768px){
    
}
@media only screen and (max-width: 992px){

}

@media (max-width: 1091px)
{
   .btn{
       display: none;
   }
 
}

@media (min-width: 1091px)
{
 

    .wrapper
    {
       margin-left: auto;
       margin-right: auto;
        width: 75%;
        padding-top: 3%;
        padding-bottom: 3%;
        padding-left: 3%;
       
    }
    .main{
        display: flex;
    }

    .leftSec
    {
       width: 40%;
    }

    .rightSec{
        width: 60%;
        padding-left: 2%;
    }
    .sec_select{
       justify-content: flex-start;

   }

   .description{
       padding-right: 25%;
   }

   .footer{
       display: none;
   }
}