<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" text=""></ion-back-button>
    </ion-buttons>
    <ion-title>PRODUCT</ion-title>
    <ion-buttons slot="end" class="ion-hide-md-up">
      <ion-icon
        name="cart-outline"
        class="ion-padding"
        (click)="router.navigate(['/cart'])"
      ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed class="grid_top">
    <ion-row class="main_row_top">
      <!-- colum 1 start -->
      <ion-col size="12" size-sm="12" size-md="12" size-lg="4" size-xl="4" class="
      col1">
        <ion-slides pager [options]="productOpts" class="prod-slide">
          <ion-slide
            *ngFor="let item of productDetails?.images; let i=index"
            [ngStyle]="{'background-image': 'url(' + item.path + ')'}"
          >
          </ion-slide>
        </ion-slides>
      </ion-col>
      <!-- colum 1 end -->

      <!-- colum 2 start -->
      <ion-col
        size="12"
        size-sm="12"
        size-md="12"
        size-lg="4"
        size-xl="4"
        class="col2"
      >
        <ion-list>
          <ion-item lines="none">
            <ion-label>
              <h1>{{productDetails?.name}}</h1>
            </ion-label>
          </ion-item>
          <section class="ion-padding-horizontal details">
            <ion-text color="dark">
              <h3 class="ion-margin-top">Part Number</h3>
              <h5 class="ion-no-margin">{{productDetails?.part_number}}</h5>
            </ion-text>
            <ion-text color="dark">
              <h3 class="ion-margin-top">Manufacturer</h3>
              <h5 class="ion-no-margin">{{productDetails?.brand_name}}</h5>
            </ion-text>
            <ion-text color="dark">
              <h3 class="ion-margin-top">Weight</h3>
              <h5 class="ion-no-margin">{{productDetails?.weight}} kg</h5>
            </ion-text>
            <ion-text color="dark">
              <h3 class="ion-margin-top">Description</h3>
              <p>{{productDetails?.description}}</p>
              <!-- <p> Front brake callipers for BMW M3.(Blue) </p> -->
            </ion-text>
          </section>
        </ion-list>
      </ion-col>

      <!-- colum 2 end -->

      <!-- colum 3 start -->

      <ion-col
        size="12"
        size-sm="12"
        size-md="12"
        size-lg="4"
        size-xl="4"
        class="col3"
      >
        <section class="ion-padding-horizontal">
          <ion-row>
            <ion-col size="6">
              <ion-label  style="background: #f2f2f2">
                <!-- <h1>{{ productDetails?.offer_price | currency:'AED' }}</h1> -->
                <h1>{{ productDetails?.offer_price | currency:'AED ' }}</h1>
                <h1 *ngIf="productDetails?.offer_price == null">{{ productDetails?.price | currency:'AED ' }}</h1>
                <h6 *ngIf="productDetails?.offer_price != null" color="danger" class="offerPrice">{{ productDetails?.price | currency:'AED ' }}</h6>
              </ion-label>
            </ion-col>
            
          </ion-row>
        </section>

        <section class="ion-padding-horizontal details">
          <ion-text color="dark">
            <p><b>Free Shipping</b> on orders above AED 100</p>
          </ion-text>
        </section>

        <section class="ion-padding-horizontal stock">
           <ion-chip color="success" *ngIf="data?.product.in_stock == 1">
          <ion-label>In Stock</ion-label>
        </ion-chip>
        <ion-chip color="danger" *ngIf="data?.product.in_stock == 0">
          <ion-label>Out Of Stock</ion-label>
        </ion-chip>
        </section>

        <section class="ion-padding-horizontal details" *ngIf="data?.product.in_stock == 1">
          <div  class="ion-text-center">
            <ion-button (click)="addToCart()" expand="full-width" fill="outline" shape="round" color="dark" class="btn" *ngIf="data?.product.cart_count == 0">
              <ion-icon name="add-outline" class="icon"></ion-icon> ADD TO CART
            </ion-button>
            <div  *ngIf="data?.product.cart_count != 0" class="addbuttonWrapper">
              <h3>In Cart:</h3>
              <div class="addbutton">
                <ion-icon name="remove-outline" class="icon" (click)="removeFromcart()"></ion-icon>
                 {{data?.product.cart_count}}
                 <ion-icon name="add-outline"  class="icon" (click)="addToCart()"></ion-icon>
              </div>
            </div>
          
          </div>
        </section>
        
      
      </ion-col>

      <!-- colum 3 end -->
    </ion-row>
  </ion-grid>

  <!-- <hr class="ion-margin-horizontal" /> -->

  <ion-grid fixed>
    <ion-row>
      <ion-col size="12">
        <section id="recommended">
          <ion-item lines="none">
            <ion-label class="title">Recommended for You</ion-label>
            <!-- <ion-button expand="block" fill="clear" shape="round" slot="end">
              View all
            </ion-button> -->
          </ion-item>
          <ion-slides [options]="recommendedSlides" class="recommended">
            <ion-slide *ngFor="let item of data?.category_products; let i=index"  (click)="navigateToProduct(i)">
              <ion-card>
                <img src="{{s3url+item.images[0]?.path}}" alt="" />
                <ion-card-content>
                  <p>{{item.name}}</p>
                </ion-card-content>
              </ion-card>
            </ion-slide>
          </ion-slides>
        </section>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>



