.input {
    border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
    border-radius: 3px;
    font-size: 14px;
    margin: 10px;
  }
  ion-toolbar,
  ion-content {
    --background: #fff;
  }
  .invalid {
    border: 1px solid #ea6153;
}

.err_msg{
  padding: 15px;
  color: #ea6153;
}
