.icon{
  font-size: 1.2rem;
}
.banner {
    ion-slide {
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 15rem;
    }
  }

  hr{
    background: black;
  }
 
.product-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // height: 30vh;
  height: 280px;
  display: flex;
  align-items: flex-end;
  border-radius: 0px;
  ion-list {
    width: 100%;
    background: #ffffff9e;
    ion-item {
      --background: transparent;
    }
  }
}
.price {
  color: var(--ion-color-dark);
  font-size: 2vh;
}
.offer-price {
  color: var(--ion-color-danger);
  font-size: 2vh;
  text-decoration: line-through;

}

.text{
  margin-bottom: 60px;
  h1{
    font-size: 16px;
    color: #777;
    text-align: center;
    padding-bottom: 5px;
  }
  h2{
    font-size: 1.1rem;
    text-align: center;
    color: #444;
    font-weight: bold;
  }
  p{
    text-align: center;
  }
}

.row{
  display: flex;
  
}
.prod{
  border: .1px solid rgb(232, 232, 232);
  margin-bottom: 5px;
  img{
    width: 140px;
    height: 140px
  }
  
  
}

.sortSideMenu{
  h2{
    font-size: 16px;
    color: #444;
  }
}


.btn{
  z-index: 1;
  width: 75%;
  position: absolute;
  bottom: 10px;
  left: 50%;
  
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  margin: 0px;
  .icon{
    padding-right: 5px;
  }
  
}

.addbutton{
  border: 1px solid #444;
  position: absolute;
  bottom: 10px;
  left: 50%;
  width: 75%;
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height:44.8px;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  .icon{
    font-size: 22px;
    font-weight: 700;
  }
}

.stock{
  border: 1px solid #444;
  width: 37%;
  margin-bottom: 15px;
  height:44.8px;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  .icon{
    font-size: 22px;
    font-weight: 700;
  }

  .outofstock
  {
    opacity: 0.5;
  }
}