<ion-header>
  <ion-toolbar color="secondary">
    <ion-title>filters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>
    <ion-col size="12">
      <ion-list>
        <ion-list-header>
          <ion-label>
            <p>Filters</p>
          </ion-label>
          <ion-button size="small" color="danger">Clear All</ion-button>
        </ion-list-header>
        <ion-item
          *ngFor="let entry of form"
          lines="none"
          (ionChange)="onCatChange($event)"
        >
          <ion-label>{{entry.val}}</ion-label>
          <ion-checkbox
            color="danger"
            slot="start"
            [(ngModel)]="entry.isChecked"
          ></ion-checkbox>
        </ion-item>
        <hr />
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-label>
            <p>Brand</p>
          </ion-label>
          <ion-button size="small" color="danger">Clear All</ion-button>
        </ion-list-header>

        <ion-item *ngFor="let entry of form" lines="none">
          <ion-label>{{entry.val}}</ion-label>
          <ion-checkbox
            color="danger"
            slot="start"
            [(ngModel)]="entry.isChecked"
          ></ion-checkbox>
        </ion-item>
        <hr />
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-label>
            <p>Price</p>
          </ion-label>
          <ion-button size="small" color="danger">Clear All</ion-button>
        </ion-list-header>

        <ion-item *ngFor="let entry of form" lines="none">
          <ion-label>{{entry.val}}</ion-label>
          <ion-checkbox
            color="danger"
            slot="start"
            [(ngModel)]="entry.isChecked"
          ></ion-checkbox>
        </ion-item>
        <hr />
      </ion-list>
    </ion-col>
  </ion-grid>
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-buttons class="ion-justify-content-around">
      <ion-button
        (click)="dismiss()"
        expand="block"
        fill="clear"
        shape="round"
        color="dark"
      >
        CLOSE
      </ion-button>
      <ion-button
        (click)="submit()"
        expand="block"
        fill="clear"
        color="danger"
        shape="round"
      >
        APPLY
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
