ion-toolbar {
    --border-width: 0px !important;
    ion-icon{
      font-size: 1.2rem;
    }
  }
//   ion-content {
//     --offset-top: 0px;
//     position: absolute;
//   }
  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .swiper-slide {
    transition: 0.4s all !important;
    -ms-transition: 0.4s all !important;
    -webkit-transition: 0.4s all !important;
    -moz-transition: 0.4s all !important;
    -o-transition: 0.4s all !important;
  }
  .heading {
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, #203a43, #0f2027, #2c5364);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .notification {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 2px;
    right: 2px;
    background: var(--ion-color-danger);
  }
  .banr{
   ion-slide{
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
   }
  }
  .banner {
    ion-slide {
      background-color: rgba(0, 0, 0, 0);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: cover;
      height: 50vh;
     
      
    }
  }
  .title {
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, #0083b0, #00b4db);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .category {
 
  
    ion-card {
      background: linear-gradient(45deg, #203a43, #0f2027, #2c5364);
      // margin: 16px 0px 16px 16px;
      // width: 100%;
      height: 8rem;
  
      border-radius: 15px;
      ion-item {
        --background: transparent;
      }
      ion-label {
        h3 {
          margin-left: 10px;
        }
      }
    }
    ion-card.selected {
      background: linear-gradient(45deg, #0083b0, #0083b0);
    }
  
    ion-icon {
      font-size: 3rem;
    }
  }
  .top-search {
    ion-card {
      margin: 16px 0px 16px 16px;
      width: 100%;
      
      border-radius: 15px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  
  .recommended {
    // .swiper-slide-prev {
    //   opacity: 0.5;
    // }
    // .swiper-slide-next {
    //   opacity: 0.5;
    // }
    // .swiper-slide-active {
    //   transform: scale(1.1);
    // }
    ion-card {
      margin: 16px 0px 16px 16px;
      width: 100%;
      
      border-radius: 15px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  
  ion-item.selected {
    --color: #00b4dbff;
  }
 
  picture {
    width: 100%;
    height: 100%;
    display: flex;
   
  }
  picture img {
   object-fit: cover; 
      height: auto;
      width:100%;
  }

  #searchByManufactures{
    ion-card-title{
      font-size: 15px;
    }
    margin-bottom: 20px;
  }


  .dsk{
    display: none;
  }

#cards{
  
  .icons{
    font-size: 56px;
    margin-top: 10px;
    color: #444;
  }

  .kard{
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

.footer
{
    margin-top: 30px;
    padding-top: 21px;
    background-color: #f5f5f6;
    padding-left: 25px;
    h5{
        font-size: 18px;
        font-weight: 400;
    }
    .address{
        p{
            color: #a0a2aa;
        }
        
    }
}
  

  @media only screen and (min-width: 1024px) {
  .mob{
    display: none;
  }
  .dsk{
    display: block;
  }
  }

    