ion-toolbar {
    --border-width: 0px !important;
    ion-icon{
      font-size: 1.2rem;
    }
  }
//   ion-content {
//     --offset-top: 0px;
//     position: absolute;
//   }
  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  .swiper-slide {
    transition: 0.4s all !important;
    -ms-transition: 0.4s all !important;
    -webkit-transition: 0.4s all !important;
    -moz-transition: 0.4s all !important;
    -o-transition: 0.4s all !important;
  }
  .heading {
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, #203a43, #0f2027, #2c5364);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .notification {
    position: absolute;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    top: 2px;
    right: 2px;
    background: var(--ion-color-danger);
  }
  // .banr{
  //  ion-slide{
  //   background-repeat: no-repeat;
  //   background-size: cover;
  //   height: 50vh;
  //  }
  // }

  .banr{
    .firstCol{
      .main{
        height: 100%;
        .imge{
          width: 100%;
          height: 100%;
          object-fit: cover; 
        }
      }
    }
    
      .col{
        padding: 2px;
        .main{
          height: 100%;
          .imge{
            width: 100%;
            height: 100%;
            object-fit: cover;
            
          }
        }
      }
  }
  .banner {
    ion-slide {
      background-color: rgba(0, 0, 0, 0);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center top;
      // background-position: center;
      // background-repeat: no-repeat;
      // background-size: cover;
      // height: 50vh;
     
      
    }
  }
  .title {
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, #0083b0, #00b4db);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .category {
  
 
    ion-card {
      // background: linear-gradient(45deg, #203a43, #0f2027, #2c5364);
      // margin: 16px 0px 16px 16px;
      // width: 100%;
      background-color: #a01f62;
      // background: url('../../../assets/imgs/background2.jpg');
      background-size: cover;
      height: 10rem;
      width: 10rem;
      border-radius: 10rem;
      margin-left: auto;
      margin-right: auto;

      ion-item {
        --background: transparent;
      }
      ion-label {
        h3 {
          margin: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-transform: uppercase;
          z-index: 1;
        }
      }
    }
    // ion-card.selected {
    //   background: linear-gradient(45deg, #0083b0, #0083b0);
    // }
  
    ion-icon {
      font-size: 3rem;
    }


 
  .roundCard:after{
    content: "";
  display: block;
  background: rgba(31, 28, 28, 0.74902);
  top: 20px;
  bottom: 20px;
  opacity: 0;
  transform: rotate3d(-1, 1, 0, 100deg);
  transition: all .4s ease-in-out 0s;
  border-radius: 50%;
  }

  .roundCard:hover:after
  {
    position: absolute;
    opacity: .5;
    transform: rotate3d(0, 0, 0, 0deg);
    left: 20px;
    right: 20px;
    
  }
  .ovr{
    background:rgba(31, 28, 28, 0.74902);
    // background: #110011;
    height: 100%;
    width: 100%;
    opacity: 0.95;
    top: 0;
    left: 0;
    position: absolute;
    padding: 0;
  }
}

  // .sliderWrapper{
  //   width: 90%;
  //   margin-left: auto;
  //   margin-right: auto;
  // }
  
  .top-search {
    padding-bottom: 16px;
    padding-top: 16px;
    width:90%;
    
    ion-card {
      margin: 16px 0px 16px 16px;
      width: 100%;
      height: 200px;
      border-radius: 15px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }
  
  .recommended {
    // .swiper-slide-prev {
    //   opacity: 0.5;
    // }
    // .swiper-slide-next {
    //   opacity: 0.5;
    // }
    // .swiper-slide-active {
    //   transform: scale(1.1);
    // }
    padding-bottom: 16px;
    padding-top: 16px;
    img{
      height: 127px;
    }
   ion-slide{
     
     height: 200px;
     min-width: 180px;
     margin-bottom: 10px;
     margin-top: 10px;
   }
    ion-card {
      margin: 16px 0px 16px 16px;
      width: 100%;
      height: 200px;
      border-radius: 15px;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
  
  ion-item.selected {
    --color: #00b4dbff;
  }
 
  picture {
    width: 100%;
    height: 100%;
    display: flex;
   
  }
  picture img {
   object-fit: cover; 
      height: auto;
      width:100%;
  }

  #searchByManufactures{
    ion-card-title{
      font-size: 15px;
    }
    margin-bottom: 20px;
  }


  .dsk{
    display: none;
  }

#cards{
  margin-top: 30px;
  h3{
    font-size: 26px;
    line-height: 36px;
  }
  p{
    padding-left: 7px;
    padding-right: 7px;
  }
  .icons{
    font-size: 56px;
    margin-top: 10px;
    color: #9f1f63;
  }

  .kard{
    padding-top: 10px;
    padding-bottom: 20px;
  }
}

.footer
{
  color: #ffff;
   margin-top: 50px;
    padding-top: 70px;
    background-color: #232020;
    p{
      color:#a09292
    }

    .text{
      max-width: 200px;
    }
    .footerWrapper{
      margin-left: auto;
      margin-right: auto;
    }

    h5{
        font-size: 18px;
        font-weight: 700;
        color: #fff;
        letter-spacing: 1.3px;
    }
    .social{
      padding: 0px;
      list-style: none;
      font-size: 24px;
      display: flex;
      li{
        padding-right: 25px;
      }
    }
    .links{
      list-style: none;
      padding: 0px;
    
    }
    .accept{
      margin-top: 38px;
    }

    .payIcon{
      color:#a09292
    }
}

.faa{
color: #fff;
}
  
#top{
  position: relative;
  img{
    height: 127px;
  }
 ion-slide{
   
   height: 200px;
   min-width: 180px;
   margin-bottom: 10px;
   margin-top: 10px;
 }
}

.morebtn{
  opacity: 0.7;
  margin-bottom: 19px;
  margin-top: 15px;
  letter-spacing: 1.5px;
  ion-button{
    letter-spacing: 0.5px;
  }
}

.btnslide{
 background-color: #fff;
  opacity: .9;  
  z-index: 1;
  margin: 0;
  right: 0px;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: #444;
  font-size: 28px;
  width: 73px;
}
.btnslideleft{
  background-color: #fff;
  opacity: .9;
   z-index: 1;
   margin: 0;
   left: 0px;
   position: absolute;
   top: 50%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
   color: #444;
   font-size: 28px;
   width: 73px;
 }

 .banner{
   .mob{
     img{
      object-fit: cover;
     }
   }
 }

 @media only screen and (max-width: 768px){
  .btnslide{
    display: none;
  }
  .btnslideleft{
    display: none;
  }
 }
  @media only screen and (min-width: 475px) {
  .mob{
    display: none;
  }
  .dsk{
    display: block;
  }
  }

    