<ion-header class="ion-no-border">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-back-button color="danger" defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid fixed [ngClass]="cartLength > 0 ? 'active' : 'inactive'">
    <ion-row>
      <ion-col size-sm="12" size-md="12" size-lg="8" size-xl="8">
        <ion-card style="box-shadow: none">
          <ion-list-header>
            <ion-label> Delivery Address </ion-label>
          </ion-list-header>
          <ion-card-content style="max-height: 30vh" class="ion-no-padding" >
            <ion-content style="height: 30vh" class="ion-padding">
              <ion-radio-group
                [(ngModel)]="selectedAddress"
                mode="md"
                (ionChange)="onChangeAddress($event)"
              >
                <ion-item *ngFor="let item of addresses; let i=index">
                  <ion-label>
                    <ion-text color="primary">
                      <h3>{{item.name}}</h3>
                    </ion-text>
                    <p>{{item.full_address}}</p>
                  </ion-label>
                  <ion-radio slot="start" value="{{i}}"></ion-radio>
                </ion-item>
              </ion-radio-group>
            </ion-content>
          </ion-card-content>
          <ion-footer class="ion-no-border">
            <ion-toolbar>
              <ion-buttons slot="end">
                <ion-button color="danger" (click)="addAddress()" >
                  <ion-icon slot="start" color="danger" name="add"></ion-icon>
                  Add Address
                </ion-button>
              </ion-buttons>
            </ion-toolbar>
          </ion-footer>
        </ion-card>
      </ion-col>
      <ion-col size-sm="12" size-md="12" size-lg="4" size-xl="4">
        <ion-list-header>
          <ion-label> Summary </ion-label>
        </ion-list-header>
        <ion-list *ngFor="let item of cart; let i=index">

          <ion-item lines="none" class="products">
            <ion-thumbnail>
              <img src="{{item.images[0].path}}">
            </ion-thumbnail>
            <ion-label>
              <h5>{{item.name}}</h5>
            </ion-label>
            <ion-icon name="trash-outline" (click)="remove(i,item.id)"></ion-icon>
            <ion-buttons class="cart-btns" slot="end">
              <ion-button (click)="subtract(i,item.id)">
                <ion-icon slot="start" color="danger" name="remove"></ion-icon>
              </ion-button>
              <ion-button color="dark">{{item.count}}</ion-button>
              <ion-button (click)="add(i,item.id)">
                <ion-icon slot="start" color="danger" name="add" ></ion-icon>
              </ion-button>
            </ion-buttons>
          </ion-item>

          <ion-item>
            <ion-label><p>{{ item.price | currency:'AED  ' }} * {{item.count}}</p></ion-label>
            <ion-button expand="block" fill="clear" shape="round">
              {{ item.total_price | currency:'AED  ' }}
            </ion-button>
          </ion-item>
          <hr />
        </ion-list>
        <ion-list>
          <ion-item lines="none" (click)="openPromo()">
            <ion-icon
              slot="start"
              color="danger"
              src="assets/imgs/discount.svg"
            ></ion-icon>
            <ion-label color="danger">Apply Promo Code</ion-label>
            <ion-icon
              slot="end"
              color="danger"
              name="chevron-forward"
            ></ion-icon>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item lines="none" class="total">
            <ion-button
              color="dark"
              slot="start"
              expand="block"
              fill="clear"
            >
              Subtotal
            </ion-button>
            <ion-button
              color="dark"
              slot="end"
              expand="block"
              fill="clear"
            >
              {{ amountDetails?.payable_amount | currency:'AED  ' }}
            </ion-button>
          </ion-item>
          <ion-item class="total">
            <ion-button
              size="small"
              color="dark"
              slot="start"
              expand="block"
              fill="clear"
            >
              Taxes
            </ion-button>
            <ion-button
              color="dark"
              slot="end"
              expand="block"
              fill="clear"
              size="small"
            >
              {{ 10 | currency:'AED' }}
            </ion-button>
          </ion-item>
          <ion-item lines="none" class="total">
            <ion-button
              style="font-weight: bold"
              color="dark"
              slot="start"
              expand="block"
              fill="clear"
            >
              Grand Total
            </ion-button>
            <ion-button
              style="font-weight: bold"
              color="dark"
              slot="end"
              expand="block"
              fill="clear"
              size="small"
            >
              {{ 10 | currency:'AED' }}
            </ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

<ion-grid fixed [ngClass]="cartLength > 0 ? 'inactive' : 'active' ">
  <ion-row>
    <ion-col size="12" class="ion-text-center">
      <p>The cart is empty</p>
    </ion-col>
  
  </ion-row>
</ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button
      [disabled]="!selectedAddress"
      slot="end"
      shape="round"
      color="danger"
      (click)="payWithRazorpay()"
    >
      <ion-icon slot="end" name="chevron-forward"></ion-icon>
      Continue to payment
    </ion-button>
  </ion-toolbar>
</ion-footer>
