<ion-header class="ion-no-border">
  <ion-toolbar>
    <!-- <ion-title>Successful</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
<div class="ion-text-center wrapper" *ngIf="status">
  <!-- <img src="../../../assets/imgs/check-mark.svg" alt=""> -->
  <h2>Order placed Successfully</h2>
  <lottie-player class="player" autoplay  src="../../../assets/imgs/orderplaced.json"  style="width: 300px; height: 300px">
  </lottie-player>
  
  <div class='button'>
    <ion-button class="btn" (click)="router.navigate(['home'])" expand="full" fill="solid" shape="round" color="primary"  >
      CONTINUE
    </ion-button>
  </div>
  
</div>
</ion-content>
