<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="end">
      <ion-button (click)="close()" color="light">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Select Address</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-chip slot="end" outline color="primary" (click)="addAddress()">
      <ion-label>Add Address</ion-label>
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-chip>
    <!-- <ion-buttons slot="end">
      <ion-button color="primary" (click)="addAddress()">
        <ion-icon name="location-outline"></ion-icon>
        Add Address
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>



  <ion-content>
    <ng-container
      *ngIf="addresses?.length > 0; then thenTemplate; else elseTemplate"
    ></ng-container>
  
    <ng-template #thenTemplate>
      <ion-list>

        <ion-radio-group
        [(ngModel)]="selectedAddress"
        mode="md"
        (ionChange)="onChangeAddress($event)"
      >
        <ion-item
          *ngFor="let item of addresses; let i=index"
          lines="none"
        >
          <ion-label>
            <ion-text color="primary">
              <h3>{{item.name}}</h3>
            </ion-text>
            <p>{{item.full_address}}</p>
            <p>{{item.landmark}}</p>
          </ion-label>
          <ion-radio slot="start" value="{{i}}"></ion-radio>
        </ion-item>
      </ion-radio-group>
  
     
  
    </ion-list>
    </ng-template>
  
    <ng-template #elseTemplate> 
      <ion-item lines="none" class="ion-text-center ion-margin">
        <ion-label>No Addresses Added</ion-label>
      </ion-item>
    </ng-template>
  
  
  </ion-content>

</ion-content>


