ion-header {
    --background: #fcfeff;
  
    ion-toolbar {
      margin-top: 10px;
      margin-bottom: 20px;
      --background: #fcfeff;
      background: #fcfeff;
      --padding-bottom: 20px;
      .btnToolbar {
        background: #5b09d0;
        border-radius: 10px;
        box-shadow: 2px 2px 7px;
        margin-right: 10px;
      }
    }
  }
  ion-title {
      padding-left: 43px;
      margin-top: -8px;
    .subHdr {
      h1 {
        font-size: 22px;
        padding-bottom: 10px;
        text-align: left;
      }
      h2 {
        font-size: 15px;
        opacity: 50%;
      }
    }
  }


  
.card{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 240px;
    border-radius: 25px;

    .flag{
        display: flex;
        align-items: center;
        justify-content: center;

        h3{
            font-size: 1rem;
            padding-left: 10px;
            letter-spacing: 1.1px;
        }
        img{
            width: 23px;
            height: 22px;
        }
    }

    .text{
        margin-left: 20px;
        width: 90%;
        h3{
            font-size: 1.2rem;
            color: #303030;
        }
    }
  
    .amount{
      width: 200px;
      font-size: 56px;
      margin-top: 30px;
    //   margin-bottom: 50px;
      color: #434343;
  }
  
    .btn {
        height: 56px;
        letter-spacing: 2px;
        margin-bottom: 5px;
      }
}

