.row{
    margin-top: 15px;
}
.card{
    min-width: 192px;
    min-height: 235px;
}

.text{
    font-size: 15px;
    font-family: Roboto,'Sans-Serif '!important;
    letter-spacing: 1.25px;
}

.card:hover{
    cursor: pointer;
}